body {
    text-align: center;
    font-family: "Inter", sans-serif;
    margin: 0;
    min-width: 400px;

    header {
        background-color: #6943FF;

        .header {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            padding: 30px;
            .header__title {
                color: #FFFFFF;
            }
            .header__input {
                font-weight: 700;
                color: #FFFFFF;
                font-size: 50px;
                text-align: center;
                background: transparent;
                border: 3px solid #B295FF;
                border-radius: 3px;
                width: 150px;
                height: 75px;

            }

            .header__button {
                font-size: 16px;
                color: #3D3D3D;
                font-weight: 500;
                margin: 30px;
                padding: 8px 20px;
                background-color: #FFFFFF;
                border: none;
                border-radius: 3px;
            }
            .header__button:hover{
                background-color: #d1cfcf;
            }
        }
    }

    main {
        background-color: #F4F4F4;
        .main-body {
            padding: 20px;
            .main-body__contnr {
                background-color: #FFFFFF;
                margin: 15px 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .main-body__contnr__title {
                    color: #5A537B;
                    font-size: 20px;
                    margin: 20px 0 10px 0;
                }
                .main-body__contnr__desc {
                    font-weight: 400;
                    color: #353535;
                    font-size: 14px;
                    margin: 10px 0 20px 0;
                }
            }
        }


    }
}